body {
    background-color: powderblue;
}
h3 {
	text-align: center;
    color: red;
	margin-top: 0px;
	margin-bottom: -30px;
}
input {
	margin-left: 650px;
	margin-top: 0px;
	margin-bottom: -20px;
}
#fb{
	margin-left: 650px;
}