body {
    background-color: powderblue;
}
h1 {
	text-align: center;
    color: red;
}
#b01 {
	position: absolute;
	top: 5px;
	left: 10px;
    color: blue;
}
#b02 {
	position: absolute;
	top: 5px;
	right: 100px;
    color: orange;
}
#b03 {
	position: absolute;
	top: 5px;
	right: 10px;
    color: yellow;
}
#valikategooria {
	position: absolute;
	top:60px;
	right: 850px;
}
#kategooria {
	position: absolute;
	top:95px;
	right: 850px;
}
#valikoht {
	position: absolute;
	top:60px;
	right: 650px;
}
#asukoht {
	position: absolute;
	top:95px;
	right: 650px;
}
#valialgus {
	position: absolute;
	top:110px;
	right: 850px;
}
#algus{
	position: absolute;
	top:145px;
	right: 850px;
}
#valilõpp {
	position: absolute;
	top:110px;
	right: 650px;
}
#lõpp{
	position: absolute;
	top:145px;
	right: 650px;
}
#otsinglabel{
	position: absolute;
	top:155px;
	right: 850px;
}
#otsing{
	position: absolute;
	top:190px;
	left: 600px;
}
#submit {
	position: absolute;
	top:220px;
	left: 750px;
}
#topkuulutused{
	position: absolute;
	top:240px;
	left: 675px;
}
#kategooriad{
	position: absolute;
	top:540px;
	left: 700px;
}